{:deps true
 :builds {:madd {:target :browser
                 :output-dir "resources/public/js"
                 :asset-path "/js"
                 :modules {:main {:entries [~{projectName}.core]
                                  :init-fn ~{projectName}.core/main}}}}}
